<html>
    <head>
        <title>G. Ilagan Designs and Construction</title>
        <script src="../../JS/querylib.js"></script>
        <script src="../../JS/redirect.js"></script>
        <link rel="stylesheet" href="../../CSS/homeStyle.css">
        <link rel="stylesheet" href="../../CSS/modal.css">
        <link rel="stylesheet" href="../../CSS/contextMenu.css">
         <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
    </head>
    <body>
        <div id="topBar">
            <img id="topLogo" src="../../pictures/logo.png">
            <a href="/admanagerhome">Files</a>
            <a id="{{design}}" href="{{ID}}">{{Content}}</a>
            <a href="/profile">Profile</a>
            <a href="/" >Logout</a>
            <form id="topSearch" method="get" action="/search-file">
                    <button><img id="sIcon" src="../../pictures/search icon.png"></button>
                    <input type="text" id="textSearch" name="textSearch" placeholder="Search Files">
            </form>
        </div>
    

        <div id="mainBody">
            <div id="actionLabels">
                <h1>Files</h1>
                
                    <button id="uploadBtn" onclick="openFileModal()"><iconify-icon icon="material-symbols:upload"></iconify-icon>Upload</button>
                    <button id="newFolderBtn" onclick="openForm()" class="nextBtn"><iconify-icon icon="material-symbols:create-new-folder-outline"></iconify-icon>New Folder</button>
                    <button id="selectBtn"  class="nextBtn" onclick="toggleSelect()"><iconify-icon icon="material-symbols:select-check-box"></iconify-icon>Select</button>
            </div>
            <h2 id="errorCode">{{error}}</h2>
                        <form class="formPopUp" id="popUp" method="POST" action="/createfolder">
                            <div class="popUpContent">
                                <label for="folderName"><b>Folder Name:</b></label>
                                <input type="text" placeholder="Name" name="folderName" onkeypress="return disableSpecialChar(event)" onpaste="return false" autocomplete="off" required>
                                <select id="accessLevel" name="accessLevel" required="true">
                                    <option value="" selected disabled hidden>Role</option>
                                    <option value="Admin/Manager">Admin/Manager Level</option>
                                    <option value="Unrestricted">Unrestricted</option>
                                </select>
                                <button type="submit" id="createButton">Create Folder</button>
                                <button type="button" id="cancelButton" onclick="closeForm()">Cancel</button>
                            </div>
                        </form>
                        <form class="formPopUp" id="folderPop" method="POST" action="/rename-folder">
                            <div class="popUpContent">
                                <label for="newName1"><b>Folder Name:</b></label>
                                <input type="text" placeholder="Name" name="newName1" id="newName1" onkeypress="return disableSpecialChar(event)" onpaste="return false" autocomplete="off" required>
                                <button type="submit" id="createButton"  onclick="renameFolder()" >Rename Folder</button>
                                <button type="button" id="cancelButton" onclick="folderClose()">Cancel</button>
                            </div>
                        </form>
                        <form class="formPopUp" id="filePop" method="POST" action="/rename-file">
                            <div class="popUpContent">
                                <label for="newName2"><b>File Name:</b></label>
                                <input type="text" placeholder="Name" name="newName2" id="newName2" onkeypress="return disableSpecialChar(event)" onpaste="return false" autocomplete="off" required>
                                <button type="submit" id="createButton" onclick="renameFile()">Rename File</button>
                                <button type="button" id="cancelButton" onclick="fileClose()">Cancel</button>
                            </div>
                        </form>


            <div id="breadcrumb">
                <button style="{{styling}}" onclick="{{func}}">{{contents}}</button><!--Change display to NONE when not in folder-->
                <p id="breadcrumbDir">{{path}}</p><!--change the FILE LOCATION-->
            </div>
        
            <div id="titleBar">
                <div class="nameDiv"><p id="name">Name</p></div>
                <div class="uploaderDiv"><p class="bordered" id="uploader">Uploaded By</p></div>
                <div class="uploadDateDiv"><p class="bordered" id="uploadDate">Upload Date</p></div>
                <div class="uploadSizeDiv"><p class="bordered" id="uploadSize">File Size</p></div>
            </div>
            <div id="saDiv">
                <input type="checkbox" class="checkbox" id="selectAllCheckbox" name="selectAll" onchange="toggleSelectAll()">
                <label id="saLabel" for="selectAll">Select All</label>
            </div>
            <div id="multContext">
                <p onclick="deleteMany()">Delete Selected</p>
                <p onclick="downloadMany()">Download Selected</p>
                <p onclick="moveMany()">Move Selected</p>
            </div>
                  
       
            <div id="filesContainer">
                {{#each folders}}
                    <div class="folderDiv" oncontextmenu="contextMenu(event,'{{this.name}} cm'); return false">
                         <input type="checkbox" class="foldersCheckbox" value="{{this._id}}"><!--change the NAME of the checkbox for each filename-->
                        <div class="folderNameDiv" id="{{this.name}}">
                            <img class="folderIcon" src="../../pictures/Folder Icon.png">
                            <label for="{{this.name}}" class="folderName">{{this.name}}</label><!--change the NAME and LABEL of the checkbox for each folder name-->
                        </div>
                        <label for="{{this.name}}" class="folderUploadedBy">{{this.uploader}}</label><!--change the USERNAME and LABEL of the checkbox for each folder name-->
                        <label for="{{this.name}}" class="folderUploadDate">{{this.date}}</label><!--change the DATE and LABEL of the checkbox for each folder name-->
                        <label for="{{this.name}}" class="folderSize"></label>
                        <div class="contextMenu" id="{{this.name}} cm">
                            <p onclick="moveSingle('{{this._id}}')">Move to Folder</p>
                             <p onclick="folderForm('{{this.name}}')">Rename</p>
                            <p onclick="deleteFolder('{{this.name}}')">Delete</p>
                        </div>
                    </div>
                {{/each}}


                {{#each files}}
                    <div class="fileDiv" oncontextmenu="contextMenu(event, '{{this.name}} cm'); return false">
                        <input type="checkbox" class="filesCheckbox" value="{{this._id}}"><!--change the NAME of the checkbox for each filename-->
                        <div class="filenameDiv">
                            <img class="fileIcon" src="../../pictures/File Icon.png">
                            <label for="{{this.name}}" class="filename">{{this.name}}</label><!--change the NAME and LABEL of the checkbox for each filename-->
                        </div>
                        <label for="{{this.name}}" class="fileUploadedBy">{{this.uploader}}</label><!--change the USERNAME and LABEL of the checkbox for each filename-->
                        <label for="{{this.name}}" class="fileUploadDate">{{this.date}}</label><!--change the DATE and LABEL of the checkbox for each filename-->
                        <label for="{{this.name}}" class="fileSize">{{this.size}}</label><!--change the SIZE and LABEL of the checkbox for each filename-->
                    <div class="contextMenu" id="{{this.name}} cm">
                            <p onclick="moveSingle('{{this._id}}')">Move to Folder</p>
                             <p onclick="fileForm('{{this.name}}')">Rename</p>
                            <p onclick="downloadSingle('{{this._id}}')">Download</p>
                            <p onclick="deleteFile('{{this.name}}')">Delete</p>
                    </div>
                        
                    </div> 
                {{/each}}

                <div id="blocker" style="{{blockerModal}}">
                    <div id="moveModal" style="{{moveModal}}">
                        <h1>Folders</h1>
                        <hr>
                        <div id="folderContainer">
                        {{#each movFolder}}
                            <div class="folderDiv" oncontextmenu="moveMenu('{{this.name}} cm'); return false">
                                <div class="folderMoveDiv" id="{{this.name}} mov">
                                    <img class="folderIcon" src="../../pictures/Folder Icon.png">
                                    <label for="{{this.name}} mov" class="folderName">{{this.name}}</label><!--change the NAME and LABEL of the checkbox for each folder name-->
                                </div>
                            </div>
                        {{/each}}
                        </div>
                        <div id="moveButtons">
                            <button id="moveHere" onclick="moveHere()">Move here</button>
                            <button id="cancelHere" onclick="cancelMov()">Cancel</button>
                        </div>
                    </div>
                </div>
            
                <form class="fileModal" id="fileModal" action="/uploadfile" method="POST" enctype="multipart/form-data">
                    <img class="exit" src="../../pictures/cross.png" alt="cross" onclick="closeFileModal()">

                    <input type="file" id="uploadFile" name="uploadFile" multiple="multiple" onchange="getFilenames()" required>
                    <label class="choose" for="uploadFile">
                        <p>Choose Files</p>
                        <img src="pictures/choose file.png" alt="">
                    </label>
                
                    <div class="itemSet" id="itemSet">
                        <h1>File Name</h1>
                    </div>
                
                    <div class="linear">
                        <input id="exclusiveAccess" type="checkbox" name="exclusiveAccess">
                        <label for="exclusiveAccess">Only Managers can access</label>
                        <input type="submit" value="Upload">
                    </div>
                </form>

                <div class="notificationModal success" id="successModal" style="visibility: {{vSuccess}}; opacity: {{oSuccess}};">
                    <img class="exit" src="pictures/cross.png" alt="cross" onclick="closeNotificationModal('{{type}}')">
                
                    <div class="linear">
                        <img src="pictures/success.png" alt="">
                        <div>
                            <h1>Success!</h1>
                            <p>{{mSuccess}}</p>
                        </div>
                    </div>
                </div>

                <div class="notificationModal error" id="errorModal" style="visibility: {{vError}}; opacity: {{oError}};">
                    <img class="exit" src="pictures/cross.png" alt="cross" onclick="closeNotificationModal('{{type}}')">
                
                    <div class="linear">
                        <img src="pictures/error.png" alt="">
                        <div>
                            <h1>Error!</h1>
                            <p>{{mError}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
