<html>
    <head>
        <title>G. Ilagan Designs and Construction</title>
        <script src="../../JS/querylib.js"></script>
        <script src="../../JS/redirect.js"></script>
        <link rel="stylesheet" href="../../CSS/homeStyle.css">
        <link rel="stylesheet" href="../../CSS/modal.css">
    </head>
    <body>
        <div id="topbar">
            <div id="redbox">
                <nav id="navbar">
                    <button id="{{ID}}" style="{{design}}" onclick="{{act}}">{{Content}}</button>
                    <button id="changePassword" onclick="changePassword()">Change Password</button>
                    <button id="logout" onclick="logoutUser()">Logout</button>
                </nav>
            </div>
    
            <a href="/admanagerhome">Files</a>
            <a href="/profile">Profile</a>

            <form class="search" action="">
                <input type="image" src="/pictures/Search.png">
                <input type="text" placeholder="Search">
            </form>
        </div>

        <div class="title-action">
            <h1 id="title">Files</h1>
            <h2 id="errorcode">{{error}}</h3>
            <div class="action">
                <div>
                    <img src="/pictures/Upload.png" width="45px" height="30px" alt="">
                    <button onclick="openFileModal()">Upload File</button>
                </div>
                <div>
                    <img src="/pictures/New Folder.png" width="45px" height="30px" alt="">
                    <button onclick="openForm()">New Folder</button>
                    <form class="formpopup" id="popup" method="POST" action="/createfolder">
                        <div class="popup-content">
                            <label for="foldername"><b>Folder Name:</b></label>
                            <input type="text" placeholder="Name" name="foldername" required>
                             <select id="accesslevel" name="accesslevel" required="true">
                                <option value="" selected disabled hidden>Role</option>
                                <option value="Admin/Manager">Admin/Manager Level</option>
                                <option value="Unrestricted">Unrestricted</option>
                            </select>
                            <button type="submit" id="createbutton">Create Folder</button>
                            <button type="button" id="cancelbutton" onclick="closeForm()">Cancel</button>
                        </div>
                    </form>
                    <form class="formpopup" id="folderpop" method="POST" action="/rename-folder">
                        <div class="popup-content">
                            <label for="newname1"><b>Folder Name:</b></label>
                            <input type="text" placeholder="Name" name="newname1" id="newname1" required>
                            <button type="submit" id="createbutton"  onclick="renameFolder()" >Rename Folder</button>
                            <button type="button" id="cancelbutton" onclick="folderClose()">Cancel</button>
                        </div>
                    </form>
                    <form class="formpopup" id="filepop" method="POST" action="/rename-file">
                        <div class="popup-content">
                            <label for="newname2"><b>File Name:</b></label>
                            <input type="text" placeholder="Name" name="newname2" id="newname2" required>
                            <button type="submit" id="createbutton" onclick="renameFile()">Rename File</button>
                            <button type="button" id="cancelbutton" onclick="fileClose()">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br>
        <br>
         <button style="{{styling}}" onclick="{{func}}">{{contents}}</button>
         <br>
         <br>
        <h2>{{path}}</h2>
        <div class="folder-file">
        {{#each folders}}
            <div class="folder" id="{{this.name}}" oncontextmenu="contextMenu('{{this.name}} cm'); return false">
                <img src="/pictures/Folder.png" alt="">
                <p>{{this.name}}</p>
            </div>

            <div class="context-menu" id="{{this.name}} cm">
                <p onclick="folderForm('{{this.name}}')">Rename</p>
                <p onclick="deleteFolder('{{this.name}}')">Delete</p>
            </div>
        {{/each}}


        {{#each files}}
            <div class="file" oncontextmenu="contextMenu('{{this.name}} cm'); return false">
                <img src="/pictures/File.png" alt="">
                <p>{{this.name}}</p>
            </div>
            
            <div class="context-menu" id="{{this.name}} cm">
                <p onclick="fileForm('{{this.name}}')">Rename</p>
                <p onclick="deleteFile('{{this.name}}')">Delete</p>
            </div>
        {{/each}}
        </div>
    
        <form class="file-modal" id="fileModal" action="/uploadfile" method="POST" enctype="multipart/form-data">
            <img class="exit" src="pictures/cross.png" alt="cross" onclick="closeFileModal()">

            <input type="file" id="uploadFile" name="uploadFile" multiple="multiple" onchange="getFileNames()">

            <label class="choose" for="uploadFile">
                <p>Choose Files</p>
                <img src="pictures/choose file.png" alt="">
            </label>
        
            <div class="itemset" id="itemset">
                <h1>File Name</h1>
            </div>
        
            <div class="linear">
                <input id="exclusiveAccess" type="checkbox" name="exclusiveAccess">
                <label for="exclusiveAccess">Only Managers can access</label>
                <input type="submit" value="Upload">
            </div>
        </form>

        <div class="notification-modal success" id="successModal" style="visibility: {{vSuccess}}; opacity: {{oSuccess}};">
            <img class="exit" src="pictures/cross.png" alt="cross" onclick="closeNotificationModal('{{type}}')">
        
            <div class="linear">
                <img src="pictures/success.png" alt="">
                <div>
                    <h1>Success!</h1>
                    <p>Your files are ready</p>
                </div>
            </div>
        </div>

        <div class="notification-modal error" id="errorModal" style="visibility: {{vError}}; opacity: {{oError}};">
            <img class="exit" src="pictures/cross.png" alt="cross" onclick="closeNotificationModal('{{type}}')">
        
            <div class="linear">
                <img src="pictures/error.png" alt="">
                <div>
                    <h1>Error!</h1>
                    <p>Files failed to upload</p>
                </div>
            </div>
        </div>
    </body>
</html>