<html>
    <head>
        <title>G. Ilagan Designs and Construction</title>
        <script src="../../JS/querylib.js"></script>
        <script src="../../JS/redirect.js"></script>
        <link rel="stylesheet" href="../../CSS/homeStyle.css">
    </head>
    <body>
        <div id="topbar">
            <div id="redbox">
                <nav id="navbar">
                    <button id="registeruser" onclick="redirectRegister()">Register an Account</button>
                    <button id="changePassword" onclick="changePassword()">Change Password</button>
                    <button id="logout" onclick="logoutUser()">Logout</button>
                </nav>
            </div>
    
            <a href="/adminhome">Files</a>
            <a href="/profile">Profile</a>

            <form class="search" action="">
                <input type="image" src="/pictures/Search.png">
                <input type="text" placeholder="Search">
            </form>
        </div>

        <div class="title-action">
            <h1 id="title">Files</h1>
            <h2 id="errorcode">{{error}}</h3>
            <div class="action">
                <div>
                    <img src="/pictures/Upload.png" width="30px" height="30px" alt="">
                    <button>Upload</button>
                </div>
                <div>
                    <img src="/pictures/New Folder.png" width="45px" height="30px" alt="">
                    <button onclick="openForm()">New Folder</button>
                    <form class="formpopup" id="popup" method="POST" action="/createfolder">
                        <div id="popup-content">
                            <label for="foldername"><b>Folder Name:</b></label>
                            <input type="text" placeholder="Name" name="foldername" required>
                            <button type="submit" id="createbutton">Create Folder</button>
                            <button type="button" id="cancelbutton" onclick="closeForm()">Cancel</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <h2>{{path}}</h2>
        <div class="folder-file">
        {{#each folders}}
            <div class="folder" id="{{this.name}}">
                <img src="/pictures/Folder.png" alt="">
                <p>{{this.name}}</p>
            </div>
        {{/each}}


        {{#each files}}
            <div class="file">
                <img src="/pictures/File.png" alt="">
                <p>{{name}}</p>
            </div>
        {{/each}}
       
        </div>
    </body>
</html>