<html>
    <head>
        <title>G. Ilagan Designs and Construction</title>
        <script src="../../JS/querylib.js"></script>
        <script src="../../JS/redirect.js"></script>
        <link rel="stylesheet" href="../../CSS/changePassStyle.css">
    </head>
    <body>
        <div id="topBar">
            <img id="topLogo" src="../../pictures/logo.png">
            <a href="{{link}}">Files</a>
            <a id="{{design}}" href="{{ID}}">{{Content}}</a>
            <a href="/profile">Profile</a>
            <a href="/" >Logout</a>
        </div>
        <center>
            <form id="changePassword" action="/change-password-post" method="POST">
            
                <label for="Old Password"></label>
                <label for="New Password"></label>
                <label for="Confirm Password"></label>

                <input type="password" id="oldPassword" name="oldPassword" placeholder="Old Password" required>
                <input type="password" id="newPassword" name="newPassword" placeholder="New Password" required>
                <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required>
                <p id="error">{{error}}</p>
                <button id="changeButton" type="submit">Change Password</button>
            </form>
        </center>
    </body>
</html>