<html>
    <head>
        <title>G. Ilagan Designs and Construction</title>
        <script src="../../JS/querylib.js"></script>
        <script src="../../JS/redirect.js"></script>
        <link rel="stylesheet" href="../../CSS/homeStyle.css">
    </head>
    <body>
        <div id="topbar">
            <div id="redbox">
                <nav id="navbar">
                    <button id="changePassword" onclick="changePassword()">Change Password</button>
                    <button id="logout" onclick="logoutUser()">Logout</button>
                </nav>
            </div>
    
            <a href="/userhome">Files</a>
            <a href="/profile">Profile</a>

            <form class="search" action="">
                <input type="image" src="/pictures/Search.png">
                <input type="text" placeholder="Search">
            </form>
        </div>

        <div class="title-action">
            <h1 id="title">Files</h1>
            <h2 id="errorcode">{{error}}</h3>
            
        </div>
         <button style="{{styling}}" onclick="{{func}}">{{contents}}</button>
         <br>
        <h2>{{path}}</h2>
        <div class="folder-file">
        {{#each folders}}
            <div class="folder" id="{{this.name}}">
                <img src="/pictures/Folder.png" alt="">
                <p>{{this.name}}</p>
            </div>
        {{/each}}


        {{#each files}}
            <div class="file">
                <img src="/pictures/File.png" alt="">
                <p>{{name}}</p>
            </div>
        {{/each}}
        </div>
        
    </body>
</html>