<html>
    <head>
        <title>G. Ilagan Designs and Construction</title>
        <script src="../../JS/querylib.js"></script>
        <script src="../../JS/redirect.js"></script>
        <link rel="stylesheet" href="../../CSS/homeStyle.css">
        <link rel="stylesheet" href="../../CSS/modal.css">
        <link rel="stylesheet" href="../../CSS/contextMenu.css">
         <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
    </head>
    <body>
        <div id="topbar">
            <img id="top_logo" src="../../UI/gilagan_log_no_text.png">
            <a href="{{link}}">Files</a>
            <a href="/profile">Profile</a>
            <a href="/" >Logout</a>
            <form id="top_search" action="/search-file">
                    <button><img id="s_icon" src="../../UI/search icon.png"></button>
                    <input type="text" id="text_search" name="text_search" placeholder="Search Files">
            </form>
        </div>
    

        <div id="main_body">
            <div id="action_labels">
                <h1>Files</h1> 
                 <button id="select_btn"  class="next_btn" onclick="toggleSelect()" style="margin-left:auto"><iconify-icon icon="material-symbols:select-check-box"></iconify-icon>Select</button> 
            </div>
            <div id="breadcrumb">
                <button style="{{styling}}" onclick="{{func}}">{{contents}}</button><!--Change display to NONE when not in folder-->
                <p id="breadcrumb_dir">{{path}}</p><!--change the FILE LOCATION-->
            </div>
        
            <div id="title_bar">
                <div class="name_div"><p id="name">Name</p></div>
                <div class="uploader_div"><p class="bordered" id="uploader">Uploaded By</p></div>
                <div class="upload_date_div"><p class="bordered" id="upload_date">Upload Date</p></div>
                <div class="upload_size_div"><p class="bordered" id="upload_size">File Size</p></div>
            </div>
                    
             <div id="sa_div">
                <input type="checkbox" class="checkbox" id="selectall_checkbox" name="select_all" onchange="toggleSelectAll()">
                <label id="sa_label" for="select_all">Select All</label>
            </div>  
            <div id="multContext">
                <p onclick="downloadMany()">Download Selected</p>
            </div>
            <div id="files_container">
                {{#each folders}}
                    <div class="folder_div" oncontextmenu="contextMenu(event, '{{this.name}} cm'); return false">
                        <input type="checkbox" class="files_checkbox" onchange="checkSelectAll()" value="{{this._id}}"><!--change the NAME of the checkbox for each filename-->
                        <div class="folder_name_div" id="{{this.name}}">
                            <img class="folder_icon" src="../../UI/Folder Icon.png">
                            <label for="{{this.name}}" class="folder_name">{{this.name}}</label><!--change the NAME and LABEL of the checkbox for each folder name-->
                        </div>
                        <label for="{{this.name}}" class="folder_uploaded_by">{{this.uploader}}</label><!--change the USERNAME and LABEL of the checkbox for each folder name-->
                        <label for="{{this.name}}" class="folder_upload_date">{{this.date}}</label><!--change the DATE and LABEL of the checkbox for each folder name-->
                        <label for="{{this.name}}" class="folder_size"></label><!--change the SIZE and LABEL of the checkbox for each filename-->
            
                    </div>
                {{/each}}


                {{#each files}}
                    <div class="file_div" oncontextmenu="contextMenu(event, '{{this.name}} cm'); return false">
                        <input type="checkbox" class="files_checkbox" onchange="checkSelectAll()" value="{{this._id}}"><!--change the NAME of the checkbox for each filename-->
                        <div class="file_name_div">
                            <img class="file_icon" src="../../UI/File Icon.png">
                            <label for="{{this.name}}" class="file_name">{{this.name}}</label><!--change the NAME and LABEL of the checkbox for each filename-->
                        </div>
                        <label for="{{this.name}}" class="file_uploaded_by">{{this.uploader}}</label><!--change the USERNAME and LABEL of the checkbox for each filename-->
                        <label for="{{this.name}}" class="file_upload_date">{{this.date}}</label><!--change the DATE and LABEL of the checkbox for each filename-->
                        <label for="{{this.name}}" class="file_size">{{this.size}}</label><!--change the SIZE and LABEL of the checkbox for each filename-->
                        <div class="context-menu" id="{{this.name}} cm">
                             <p onclick="downloadSingle('{{this._id}}')">Download</p>
                    </div>
                        
                    </div>
                   
                {{/each}}
            </div>
        </div>
    </body>
</html>
